:root{
	--gray-50:#006555!important;
	/*--subtle-accent: var(--gray-50);*/
}
.body-sidebar {
    background: #006555!important;
}

.body-sidebar a {
    color: white!important;
    cursor: pointer;
}
.body-sidebar, .body-sidebar path, .body-sidebar .icon,.body-sidebar  .es-icon{
	--icon-stroke: white!important;
	stroke: white!important;
}